*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px #afafafee;
    z-index: 1000;
    width: 100vw;
}

.navbar header img{
    width: 10vw;
}

.navbar nav{
    margin: 0 auto;
}

.navbar ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 20px; 
    color: #1b412fee;
}

.navbar ul li:hover{
    transition: 0.5s ease;
    transform: scale(1.1);
    text-decoration: underline;
}

.navbar nav button{
    width: 80px;
    height: 30px;
    font-size: 20px;
    color: #1b412fee;
    background-color: transparent;
    border-radius: 5px;
    border: solid 2px #1b412fee;
    display: none;
}

main{
    margin: 1rem;
}

main .hero{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

main .hero a{
    text-decoration: none;
}

main .hero a img{
    border-radius: 10px;
    width: 60vw;
}

main .hero a img:hover{
    box-shadow: 2px 2px 10px #5f5f5f;
    transition: 0.2s;
}

main .hero a h1{
    position: relative;
    top: 70px;
    left: 30px;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    color: #1b412fee;
    text-shadow: 2px 2px 4px #a7a7a7cc;
}

main .plants{
    margin: 50px auto;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.plants .plants-section a{
    text-decoration: none;
}

.plants .plants-section a img{
    border-radius: 10px;
    width: 20vw;
}

.plants .plants-section a img:hover{
    box-shadow: 2px 2px 10px #5f5f5f;
    transition: 0.2s;
}

.plants .plants-section h2{
    color: #1b412fee;
    text-align: center;
    margin: 10px;
    font-size: clamp(1.25rem, 3vw, 2rem);
    text-shadow: 2px 2px 4px #a7a7a7cc;
}

main .info{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 100px;
}

main .info .info-card{
    background-color: #93db9fee;
    width: 20%;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #5f5f5f;
}

main .info .info-card h2{
    margin-bottom: 10px;
    color: #1b412fee;
    font-size: clamp(1.25rem, 3vw, 2rem);
}

main .info .info-card p{
    padding: 20px;
    font-size: 1.1rem;
}

main .info .info-card ul{
    text-align: center;
    list-style: none;
}

main .info .info-card ul li{
    font-size: 1.5rem;
    margin: 20px;
}

footer{
    display: flex;
    background-color: #f3f3f3;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

footer img{
    width: 320px;
}

@media (max-width: 1200px){

    .navbar header img{
        width: 30vw;
    }

    main .hero a h1{
        top: 35px;
        left: 20px;
    }

    main .hero a img{
        width: 90vw;
    }

    main .plants{
        gap: 20px;
    }

    .plants .plants-section a img{
        width: 60vw;
    }

    .navbar ul{
        display: none;
    }

    .navbar nav button{
        display: block;
        margin-left: 130px;
    }

    main .info{
        gap: 50px;
    }

    main .info .info-card{
        width: 100%;
    }

    main .info{
        flex-direction: column;
    }

    main .plants{
        flex-direction: column;
    }

    .plants .plants-section{
        margin: 0 auto;
    }

    footer img{
        width: 140px;
    }
}